<div class="row">
  <div class="col-md-1">
    {{#link-to 'index'}}
      <img src="assets/images/back-button.png" class="back-button">
    {{/link-to}}
  </div>
  <div class="col-md-8">
    {{#link-to 'index'}}
      <img src="assets/images/transparent-wonder-ways-logo.png" id="logo"/>
    {{/link-to}}
  </div>
</div>
<div id="search">
    <button type="button" class="close">×</button>
    <form>
      {{input type="search" value=searchTerm placeholder="Enter Keyword(s)" autocomplete="off"}}
    </form>
</div>
<div class="row well">
  <div class="states-index">
    <h1>Trails by State</h1>
    <div class="state-links">
      {{#each allStates as |state| }}
        {{#link-to 'trails' state}}{{state}}{{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

<div class="row well">
  <h2 class="state-title">Trails<span class="top-buttons"><a href="#lookUp"><img src="assets/images/filter.png" class="search-btn"></a></span></h2>
  <div class="col-md-6">
    <ul class="state-results">
      {{#each filteredTrails as |trail|}}
        <li class="state-results">{{#link-to 'trail' trail}}{{trail.name}}{{/link-to}}</li>
        <li class="state-results-location">{{trail.city}}, {{trail.state}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-6">
    <div id="index-map" class="map">
      {{index-map action="setTrailPage" trails=filteredTrails}}
    </div>
  </div>
</div>

<script>
$(function () {
  $(document).ready(function () {
    $('a[href="#lookUp"]').on('click', function(event) {
        event.preventDefault();
        $('#search').addClass('open');
        $('#search > form > input[type="search"]').focus();
    });

    $('#search, #search button.close').on('click keyup', function(event) {
        if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
            $(this).removeClass('open');
        }
    });
  });
});
</script>
