<div class="row">
  <div class="col-md-1">
    <a href="/{{model.state}}"><img src="assets/images/back-button.png" class="back-button"></a>
  </div>
  <div class="col-md-5">
    {{#link-to 'index'}}
      <img src="assets/images/transparent-wonder-ways-logo.png" id="logo"/>
    {{/link-to}}
  </div>
</div>
<div class="container well big-well">
  <div class="row trail-top">
    <div class="col-md-6 trail-header">
      <h2>{{model.name}}</h2>
      <p class="trail-info">{{model.city}}, {{model.state}}</p>
      {{#if isDesc}}
        <span> <button {{action 'closeDesc'}} class="trail-info btn-directions">Hide Description</button></span>
        <p class="btn-direction trail-info">{{model.description}}</p>
      {{/if}}
      {{#unless isDesc}}
        <button {{action 'expandDesc'}} class="trail-info btn-directions">Show Description</button>
      {{/unless}}
      <button class="trail-info btn-directions" id="direct">Hide Directions</button>
    </div>
    <div class="col-md-3">
      <h2> Trail Information </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="trail-map" class="map">
          {{trail-map trail=model}}
        </div>
      </div>

      <div class="col-md-5 category-icons well">

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1 class="modal-title" id="myModalLabel"></h1>
              </div>
              <div class="modal-body">
                <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <button class="icon" {{action 'filter' '.activities' }}><img src="assets/images/run-icon.png"></button>
        <button class="icon" {{action 'filter' '.birds' }}><img src="assets/images/duck-icon.png"></button>
        <button class="icon" {{action 'filter' '.animals' }}><img src="assets/images/animal.png"></button>
        <button class="icon" {{action 'filter' '.plants' }}><img src="assets/images/plants-icon.png"></button>
        <div class="all">
          <ul class="activities categoryType" hidden=true>
            <h3 class="sidebar-title">Activities and Info</h3>
            <li>Trail Length: {{model.length}}</li>
            <li>{{trailActivities.firstObject.activity_description}}</li>
            {{#each activity in model.activities}}
              <li><a href="{{activity.url}}" target="_blank" class="info-text">{{activity.activity_type_name}}</a></li>
            {{/each}}
          </ul>

          <ul class="animals categoryType" hidden=true>
            <h3 class="sidebar-title">Animals</h3>
            {{#each animals as |animal|}}
              <li class="animal-info">
                <img src="{{animal.photo_url}}" class="pretty-picture img-rounded" alt="{{animal.scientific_name}} - {{animal.common_name}}" width="152" height="118">
                {{animal.scientific_name}} - {{animal.common_name}}</li>
            {{/each}}
          </ul>

          <ul class="plants categoryType" hidden=true>
            <h3 class="sidebar-title">Plants</h3>
            {{#each plants as |plant|}}
              <li class="animal-info">
                <img src="{{plant.photo_url}}" class="pretty-picture img-rounded" alt="{{plant.scientific_name}} - {{plant.common_name}}" width="152" height="118">
                {{plant.scientific_name}} - {{plant.common_name}}</li>
            {{/each}}
          </ul>

          <ul class="birds categoryType" hidden=true>
            <h3 class="sidebar-title">Birds</h3>
            {{#each birds as |bird|}}
              <li class="animal-info">
                  <img class="pretty-picture img-circle" src="{{bird.photo_url}}" alt="{{bird.scientific_name}} - {{bird.common_name}}" height="76" width="76">
                  {{bird.scientific_name}} - {{bird.common_name}}
                <a href="{{bird.clip_url}}" target="_blank">
                  <img src="assets/images/music_wh.png" height="20px"></a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="assets/leaflet-routing-machine.css" />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
<script src="assets/leaflet-routing-machine.min.js"></script>
<script src="assets/myjs.js"></script>
