<div class="row">
  <div class="col-md-1">
    <a href="/{{model.state}}"><img src="assets/images/back-button.png" class="back-button"></a>
  </div>
  <div class="col-md-5">
    <img src="http://s24.postimg.org/u2976j7ol/transparent_wonder_ways_logo.png" id="logo"/>
  </div>
</div>
<div class="container well big-well">
  <div class="row trail-top">
    <div class="col-md-6 trail-header">
      <h2>{{model.name}}</h2>
      <p class="trail-info">{{model.city}}, {{model.state}}</p>
      {{#if isDesc}}
        <h3> Description <span> <button {{action 'closeDesc'}} class="btn-directions">X</button></span></h3>
        <p class="trail-info">{{model.description}}</p>
      {{/if}}
      {{#if isDirections}}
        <h3>Directions <span> <button {{action 'closeDirections'}} class="btn-directions">X</button></span></h3>
        <p class="trail-info">{{model.directions}}</p>
      {{/if}}

      {{#unless isDirections}}
        <button {{action 'expandDirections'}} class="btn-directions">Directions</button>
      {{/unless}}
      {{#unless isDesc}}
        <button {{action 'expandDesc'}} class="btn-directions">Description</button>
      {{/unless}}
    </div>
    <div class="col-md-3">
      <h2> Trail Information </h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="trail-map" class="map">
          {{trail-map trail=model}}
        </div>
      </div>

      <div class="col-md-5 category-icons well">
        <button class="icon" {{action 'filter' '.activities' }}><img src="assets/images/run-icon.png"></button>
        <button class="icon" {{action 'filter' '.birds' }}><img src="assets/images/duck-icon.png"></button>
        <button class="icon" {{action 'filter' '.animals' }}><img src="assets/images/animal.png"></button>
        <button class="icon" {{action 'filter' '.plants' }}><img src="assets/images/plants-icon.png"></button>
        <div class="all">
          <ul class="activities categoryType" hidden=true>
            <h3 class="sidebar-title">Activities and Info</h3>
            <li>Trail Length: {{model.length}}</li>
            <li>{{trailActivities.firstObject.activity_description}}</li>
            {{#each activity in model.activities}}
              <li><a href="{{activity.url}}" class="info-text">{{activity.activity_type_name}}</a></li>
            {{/each}}
          </ul>

          <ul class="animals categoryType" hidden=true>
            <h3 class="sidebar-title">Animals</h3>
            {{#each animals as |animal|}}
              <li class="animal-info"><a href="{{animal.photo_url}}" class="info-text"> <img src="{{animal.photo_url}}" class="img-rounded" alt="Photo of {{animal.scientific_name}}" width="152" height="118"></a> {{animal.scientific_name}} {{animal.common_name}}</li>
            {{/each}}
          </ul>

          <ul class="plants categoryType" hidden=true>
            <h3 class="sidebar-title">Plants</h3>
            {{#each plants as |plant|}}
              <li class="animal-info"><a href="{{plant.photo_url}}" class="info-text"><img src="{{plant.photo_url}}" class="img-rounded" alt="Photo of {{plant.scientific_name}}" width="152" height="118"></a> {{plant.scientific_name}} {{plant.common_name}}</li>
            {{/each}}
          </ul>

          <ul class="birds categoryType" hidden=true>
            <h3 class="sidebar-title">Birds</h3>
            {{#each birds as |bird|}}
              <li class="animal-info">
                <a href="{{bird.photo_url}}" class="info-text">
                  <img src="{{bird.photo_url}}" class="img-circle" alt="Image of {{bird.scientific_name}}" height="76" width="76"></a>
                  {{bird.scientific_name}} {{bird.common_name}}
                <a href="{{bird.clip_url}}">
                  <img src="assets/images/music_wh.png" height="20px"></a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
